.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 171px;
  height: 55px;
  padding: 0;
  background: #d53f2b;
  border-radius: 8px;
  border: 0 transparent;
}

.button--mb {
  margin-bottom: 165px;
}
