.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 171px;
  height: 55px;
  padding: 0;
  margin: 0;
  background-color: #d53f2b;
  border-radius: 8px;
  border: 0 transparent;

  font-family: "Quicksand";
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-transform: uppercase;

  color: #ffffff;

  transition: background-color 250ms ease-in-out;

  &:hover,
  :focus {
    background: #6ba4c2;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
  }
}

// .button--mb {
//   @media screen and (min-width: 415px) {
//     margin-left: 80px;
//   }
// }

.button--transparent {
  margin-top: auto;

  background-color: transparent;
  color: #1f2a46;
  border: 2px solid #1f2a46;
  border-radius: 32px;
}
