.logo {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
}

.logo__logo-text {
  display: none;

  @media screen and (min-width: 600px) {
    display: block;
    fill: currentColor;
  }
}

.logo__logo-icon {
  display: inline-block;

  fill: currentColor;
}

.logo--footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 32px;
}

.logo__logo-icon--theme {
  fill: #cfdae4;
}

.logo__logo-text--color {
  fill: #cfdae4;
}
