.menu-btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: fill 250ms ease-in-out;

  @media screen and (min-width: 1024px) {
    display: none;
  }

  &:hover,
  :focus {
    fill: #d53f2b;
  }
}

.menu-btn__icon {
  width: 60px;
  height: 32px;
}

.menu-btn--close {
  position: absolute;
  top: 10px;
  right: 10px;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}
