.container {
  position: relative;
  min-width: 320px;
  max-width: 1440px;
  padding-left: 34px;
  padding-right: 34px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 415px) {
    padding-left: 71px;
    padding-right: 71px;
  }
}
@media screen and (min-width: 768px) {
  .container__hero {
    padding-right: 151px;
    padding-left: 151px;
  }
}

@media screen and (min-width: 768px) {
  .container__users--padd {
    padding-right: 174px;
    padding-left: 174px;
  }
}

@media screen and (min-width: 1440px) {
  .container__users--padd {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    padding-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .container__hero {
    padding-right: 345px;
    padding-left: 345px;
  }
}
