.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 1000;
  background-color: rgb(255, 214, 6);

  transition: background-color 300ms ease-in-out,
    backdrop-filter 300ms ease-in-out;

  &.no-transparency {
    background-color: rgba(255, 214, 6, 0.5);
    backdrop-filter: blur(4px);
  }
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
