.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 1000;
  background-color: rgb(255, 214, 6);

  transition: background-color 300ms ease-in-out,
    backdrop-filter 300ms ease-in-out;

  &.no-transparency {
    background-color: rgba(255, 214, 6, 0.5);
    backdrop-filter: blur(4px);
  }
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__list {
  display: none;

  @media screen and (min-width: 1024px) {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: auto;
  }
}

.page-header__link {
  text-decoration: none;
  font-family: "Quicksand";

  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  text-transform: uppercase;

  color: #1f2a46;

  transition: color 250ms ease-in-out;

  &:hover,
  :focus {
    color: #d53f2b;
  }
}
