.users {
  padding-top: 40px;
  padding-bottom: 40px;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/deter-user_sm@1x.jpg");

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../img/deter-user_sm@2x.jpg");
  }

  @media screen and (min-width: 415px) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../img/deter-user_md@1x.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url("../img/deter-user_md@2x.jpg");
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../img/deter-user_lg@1x.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url("../img/deter-user_lg@2x.jpg");
    }
  }

  background-repeat: no-repeat;
  background-size: cover;
}

.users__text {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 42px;
  display: block;
  max-width: 266px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(23 / 16);

  color: #ffffff;
}
.users__title {
  margin-bottom: 32px;
}

.users__cite {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(32 / 24);

  color: #ffffff;
  & cite {
    font-style: normal;
  }
}

.users__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(23 / 16);

  color: #ffffff;
}

.users__descr--mb {
  margin-bottom: 16px;
}

.users__color-text {
  color: #fed404;
}
